flow_6_conexion_broker_local.json
[
    {
        "id": "d5238235b5c145c8",
        "type": "tab",
        "label": "Flow 6 - G7",
        "disabled": false,
        "info": ""
    },
    {
        "id": "81528faca5fd5995",
        "type": "mqtt in",
        "z": "d5238235b5c145c8",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqtt",
        "qos": "2",
        "datatype": "auto",
        "broker": "3bc06062f3ea8f20",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "db4b35339cf0e703",
                "ff1dfe1ef4d8bace"
            ]
        ]
    },
    {
        "id": "db4b35339cf0e703",
        "type": "ui_text",
        "z": "d5238235b5c145c8",
        "group": "f8be81c57e27c5c1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "9cbc61e2b0039351",
        "type": "ui_switch",
        "z": "d5238235b5c145c8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f4e702beb3672006",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "a6ac20e3d6fa1134"
            ]
        ]
    },
    {
        "id": "a6ac20e3d6fa1134",
        "type": "mqtt out",
        "z": "d5238235b5c145c8",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqttin",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3bc06062f3ea8f20",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "ff1dfe1ef4d8bace",
        "type": "debug",
        "z": "d5238235b5c145c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "3bc06062f3ea8f20",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f8be81c57e27c5c1",
        "type": "ui_group",
        "name": "Rx",
        "tab": "cebb3f53d288520d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f4e702beb3672006",
        "type": "ui_group",
        "name": "Tx",
        "tab": "cebb3f53d288520d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cebb3f53d288520d",
        "type": "ui_tab",
        "name": "Comunicación MQTT con ESP32CAM",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]